<div id="discount-container">
  <div class="title">Discount</div>

  <ion-label>Percentage</ion-label>
  <ion-input type="number" [(ngModel)]="discountDisplay" (keyup)="percentChange()"></ion-input>

  <ion-label>Dollar Amount</ion-label>
  <ion-input type="number" [(ngModel)]="dollar" (keyup)="dollarChange()"></ion-input>

  <ion-label>Subtotal</ion-label>
  <div class="pad">{{subtotal | currency}}</div>

  <ion-label>Total</ion-label>
  <div class="pad">{{subtotal - (subtotal * (discount * 0.01)) | currency}}</div>

  <ion-button expand="block" (click)="dismiss()">Apply</ion-button>
</div>
