<div id="popover">
  <ion-list>
    <ion-list-header>Discount</ion-list-header>
    <ion-item lines="none">
      <ion-text slot="start">
        Subtotal
      </ion-text>
      <ion-text slot="end">
        {{subtotal | currency}}
      </ion-text>
    </ion-item>
    <ion-item lines="none">
      <span id="discount-type">- {{typeString}}</span>
      <ion-input type="number" [(ngModel)]="discountInput" placeholder="Discount" (keyup)="calculateDiscount()" min="0"
        [max]="subtotal" step=".01"></ion-input>
      <ion-button (click)="setTypeCurrency()">$</ion-button>
      <ion-button (click)="setTypePercent()">%</ion-button>
    </ion-item>
    <ion-item lines="none">
      <ion-text slot="start">
        Total
      </ion-text>
      <ion-text slot="end">
        {{subtotal - discount | currency}}
      </ion-text>
    </ion-item>

  </ion-list>
  <ion-button expand="block" (click)="dismiss()">Apply</ion-button>
</div>
