<ion-header>
  <ion-toolbar>
    <ion-title>
      <img alt="logo" height="35" src="assets/icon/favicon.png">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="discardOrder()">
        Discard Order
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="grid">

    <!-- Cart -->
    <div id="cart">
      <div id="header">
        <span id="name">Description</span>
        <span>Quantity</span>
        <span>Unit Price</span>
        <span>Total</span>
      </div>

      <ion-list id="items">
        <app-cart-item *ngFor="let item of cart?.items" [(item)]="item" (itemChange)="updateCart()"></app-cart-item>
      </ion-list>
    </div>

    <!-- Order Cost -->
    <div id="order-cost">
      <app-layout-order-cost-tile (cashClicked)="navCash()" (creditClicked)="navCredit()"></app-layout-order-cost-tile>
    </div>

    <!-- Item Tiles -->
    <div id="item-tiles">
      <router-outlet></router-outlet>
    </div>

    <!-- SubMenu -->
    <div id="menu">
      <span appLayoutTextButton routerLink="/home/bagels">Bagels</span>
      <span appLayoutTextButton routerLink="/home/coffee">Coffee</span>
    </div>
  </div>
</ion-content>
